export MAIN_ROUTE="/Users/lfalero"
export PROGRAM_ROUTE="${MAIN_ROUTE}/Downloads/LUIS/PROGRAMAS"
export JAVA_HOME="${MAIN_ROUTE}/Library/Java/JavaVirtualMachines/corretto-11.0.15/Contents/Home"
export GRAALVM_HOME="${PROGRAM_ROUTE}/graalvm-ce-java11-22.3.0/Contents/Home"
export PATH=${GRAALVM_HOME}/bin:$PATH

## Install Native Image
alias gu="${GRAALVM_HOME}/bin/gu"
gu install native-image

export POSTGRESQL_USER="lfalero"
export POSTGRESQL_PASSWORD="redhat"
export POSTGRESQL_DATABASE="redhatdb"
export POSTGRESQL_POST="5432"
export DATABASE_SERVICE_NAME="postgresql"